{
    "DCL_HOSTNAME": "https://dcl.testpoint.io",
    "DCL_DEBUG": "False",
    "DCL_SECRET_KEY": "more secret value; generate something like 60 characters long",

    "DCL_DB_NAME": "stagedcltestpoint",
    "DCL_DB_HOST": "your-db-hostname.ap-southeast-2.rds.amazonaws.com",
    "DCL_DB_USERNAME": "stagedcltestpoint",
    "DCL_DB_PASSWORD": "nice1secure1password",

    "DCL_RAVEN_DSN": "hostname to your Sentry installation, Sentry knows it (remove this row if you don't use it yet)",
    "DCL_SIMGUARD_CLIENT_ID": "sixdigits",
    "DCL_SIMGUARD_CLIENT_SECRET": "likeUUIDvalue",

    "DCL_ROUTE_53_IAM_ACCESS_KEY": "standard amazon value",
    "DCL_ROUTE_53_IAM_ACCESS_SECRET": "standard longer amazon value",
    "DCL_ROUTE53_ZONE_ID": "something unreadable",

    "DCL_STATIC_URL": "https://randomletters.cloudfront.net/" - if you don't use Cloudfront yet you can remove this row (and comma in row before!)
}
