#!/bin/bash
#
# copy this file to config.sh, then edit it to reflect
# the target DCL you wish to test.
#
# Values shown here are equal to the hardcoded defaults
#

echo "Loading config.sh..."

# target domain for DNS queries
export DCL_READ_DOMAIN=dcl.testpoint.io
# target domain for HTTPS updates (REST management interface)
export DCL_WRITE_DOMAIN=https://dcl.testpoint.io
# credentials for authenticating to the management interface
export DCL_TEST_USER=33767197359
export DCL_TEST_SECRET=33767197359

#
# The following 5 example business identifiers are each used
# as "expected value tests". In other words, the tests will
# perform a NAPTR query on the DCL_READ_DOMAIN using the 
# IDENTIFIER and SCHEME specified here, and expect to get the
# CNAME in return.
# 
# obvjously, you need to make sure your these values are
# configured correctly in your target DCL, otherwise the tests
# will return a false fail.
export DCL_TEST_EG1_IDENTIFIER=14247983785
export DCL_TEST_EG1_SCHEME=ABN
export DCL_TEST_EG1_CNAME=dcp.testpoint.io.

export DCL_TEST_EG1_IDENTIFIER=33767197359
export DCL_TEST_EG2_SCHEME=ABN
export DCL_TEST_EG2_CNAME=dcp.testpoint.io.

export DCL_TEST_EG3_IDENTIFIER=67008125522
export DCL_TEST_EG3_SCHEME=ABN
export DCL_TEST_EG3_CNAME=dcp.testpoint.io.

export DCL_TEST_EG4_IDENTIFIER=76031101072
export DCL_TEST_EG4_SCHEME=ABN
export DCL_TEST_EG4_CNAME=dcp.testpoint.io.

export DCL_TEST_EG5_IDENTIFIER=17102364628
export DCL_TEST_EG5_SCHEME=ABN
export DCL_TEST_EG5_CNAME=dcp.testpoint.io.
