<!doctype html>
<html>
{% load static from staticfiles %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block head_title %}A Testpoint.io capability lookup test service{% endblock %}</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block extra_head %}{% endblock %}
</head>
<body class="home">
  <div class="main-wrapper">
    <div class="header">
      <header class="wrapper">
        <div class="logo">
        <a  href="http://testpoint.io/" title=""><img src="{% static 'images/logo.png' %}" alt=""></a>
          <a href="/" title="">dcl.testpoint.io</a>
          <span class="tagline">Digital Capability Locator</span>
        </div>
        <nav id="main-nav">
          <ul>
            {% if user.is_authenticated %}
              <li><a href="{% url 'ui:index' %}">Update SMP</a></li>
              {% spaceless %}<li><a href="/openid/logout/">
                Logout ({% if request.session.userinfo.abn %}{{ request.session.userinfo.abn }}{% else %}{{ user }}{% endif %})
              </a></li>{% endspaceless %}
            {% else %}
              <li><a href="openid/openid/SimGuard/">Login with idp.testpoint.io</a></li>
            {% endif %}
            <li>
              <a href="#" class="has-dropdown">Services</a>
              <label for="dropdown" class="has-dropdown">Services</label>
              <input type="checkbox" id="dropdown"/>
              <ul class="subemnu" style=>
                <li><a href="http://testpoint.io/lap.html">Test AP</a></li>
                <li><a href="http://testpoint.io/nry.html">Test NRY</a></li>
                <li><a href="https://idp.testpoint.io/">Test IDP</a></li>
                <li><a href="https://dcl.testpoint.io">Test DCL</a></li>
                <li><a href="https://smp.testpoint.io/">Test SMP</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </header>
    </div>
    
    {% block diagram %}
      <section class="diagram">
        <div class="wrapper">
          <h1>A Testpoint.io capability lookup test service</h1>
          {% block diagram_content %}{% endblock %}
        </div>
      </section>
    {% endblock %}

    {% block tabs %}
      <section id="tabs" style='padding-top: 20px'>
        {% if messages %}
          {% for message in messages %}
            <div style='display: block; margin: auto; width: 50%; border: 1px solid silver; padding: 20px;'
                 class="{% if 'error' in message.tags %} red {% else %} {% if 'warning' in message.tags %} amber {% else %} green {% endif %}{% endif %}"
                 >
              {# Illya, please fix it #}
              {% if 'safe' in message.tags %} {{ message|safe }}{% else %} {{ message }}{% endif %}
            </div>
          {% endfor %}
        {% endif %}
        <br/><br/>
        {% block body %}
          {% block body_title %}<h2>AVAILABLE IODC IDP TEST RESOURCES</h2>{% endblock %}
          <div class="tabs-wrapper">
            {% block tabs_content %}{% endblock %}
          </div>
        {% endblock %}
      </section>
    {% endblock %}
  </div>  <!-- /main-wrapper -->

  <footer class="footer">
    <a href="http://testpoint.io/" class="logo">
      <img src="{% static 'images/logo.png' %}" alt="">
      Testpoint.io
    </a>
    <br>
    <br>
    <p>
      Free resources to support Ausdigital open standards development
    </p>
    <ul class="footer-menu">
      <li><a href="http://ausdigital.org/">Ausdigital</a></li>
      <li><a href="https://github.com/ausdigital/">Github</a></li>
      <li><a href="mailto:hi@ausdigital.org">hi@ausdigital.org</a></li>
      <li><a href="https://talk.ausdigital.org">Chat</a></li>
    </ul>
    <p class="copyright">Copyright &copy; 2016. All rights reserved</p>
  </footer>

  <script src="{% static 'js/jquery-1.12.0.min.js' %}"></script>
  <script src="{% static 'js/jquery.responsiveTabs.min.js' %}"></script>
  <script>
    jQuery(document).ready(function ($) {
      $('.tabs').responsiveTabs({
        collapsible: 'false',
        active: 0,
        startCollapsed: false,
        scrollToAccordion: true,
        setHash: true,
        scrollToAccordionOffset: 500
      });
    });
  </script>
  {% block extra_body %}{% endblock %}
</body>
</html>
