{% extends 'base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block head_title %}Update your DCP{% endblock %}

{% block body_title %}{% endblock %}

{% block diagram %}
  <section class="diagram" style='height: 100px'>
  </section>
{% endblock %}

{% block tabs_content %}
  <div style='padding: 20px;'>
    {% csrf_token %}
    <p>Here you can change your DCP to any domain name. Please consult your Digital Capability Provider and Service Metadata Publisher for correct value.</p>
    <p>To test the newly created/updated item, please do:<br/>
    (assuming the participant ID is <em>{{ participant_id }}</em>)
    <pre>host -t naptr b-{{ participant_hash|lower }}.dcl.testpoint.io. ns-1541.awsdns-00.co.uk</pre>
    or <br/>
    <pre>host -t naptr b-{{ participant_hash|lower }}.dcl.testpoint.io. 8.8.8.8</pre>
    Expected result:
    <pre>b-{{ participant_hash|lower }}.dcl.testpoint.io has NAPTR record 10 100 "S" "" "" your-entered-domain.</pre>
    By default all known participant IDS and reffer to dcp.testpoint.io. It may take up to 5 minutes (rare cases - up to 30) for all changes to propagate to all our DNS servers. Usually it's less than a minute. It may take up to 24 hours to propagate to DNS servers around the world, and 3rd party DNS servers may cache this value - that's why we use custom DNS server in this demo requests.
    </p>
    {% if participant_ids %}
      <form method="POST" action="#" style='padding: 20px;'>
      {% csrf_token %}
      <div class="form-group">
        <label for='id_participant_id'>Participant ID to update:</label>
        <div>
          <select id="id_participant_id" name="participant_id" class="form-control" style='color: black;'>
            {% for pid in participant_ids %}
              <option>{{ pid }}</option>
            {% endfor %}
          </select>
        </div>
        <br/>
        <label for="id_new_dcp_value" class="control-label">New DCP Value</label>
        <div>
          <input id="id_new_dcp_value" type="text" name="new_dcp_value" class="form-control" placeholder="for example, dcp.testpoint.io" style='color: black;'>
        </div>
      </div>
      <div class="form-group">
        <button class="btn" type="submit">Submit</button>
      </div>
      </form>
    {% else %}
      <strong>Can't determine any participant IDs for this user, please use correct auth</strong>
    {% endif %}
  </div>


  {% if update_history %}
  <div class='col-lg-12'>
    <fieldset><legend>Update History</legend>
      <table class='table table-bordered'>
        <tr>
          <th>Date</th>
          <th>Participant ID</th>
          <th>New value</th>
        </tr>
        {% for update_token in update_history %}
          <tr>
            <td>{{ update_token.created }}</td>
            <td>{{ update_token.participant_id }}</td>
            <td>{{ update_token.new_value|default:"empty" }}</td>
          </tr>
        {% endfor %}
      </table>
    </fieldset>
  </div>
  {% endif %}
{% endblock %}